@keyframes new-bubble {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #C95E21;
    color: white;
}

body {
    background-color: #C95E21;
}

div.bot {
    width: 100%;
    height: 100%;
}

div.bot > div {
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

div.bot > div.anim {
    animation: new-bubble 0.2s ease;
}

div.bot > div:not(.human) {
    margin-right: auto;
}

div.bot > div.human {
    background-color: black;
    color: white;
    margin-left: auto;
}

a {
    color: black;
}

div.bot > div.human a {
    color: white;
}

input[type=text] {
    background-color: initial;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 1px;
    margin-top: 2px;
}

input[type=text]:focus {
    outline: none;
    border-width: 2px;
    margin-bottom: 0px;
}

input[type=submit] {
    background-color: initial;
    border: 1px solid white;
    color: white;
    margin: 1px;
    margin-left: 6px;
    border-radius: 5px;
}

input[type=submit]:active {
    margin: 0px;
    margin-left: 5px;
    border-width: 2px;
}