{% extends "base.html" %}
{% block title %}{{name}}{% if embed %} (embedded){% endif %}{% endblock %}
{% block head %}
    {% if not embed %}
        <link rel="stylesheet" href="/css/bot_standalone.css">
    {% endif %}
    <script type="text/javascript" src="/js/botengine.js"></script>
    {{ compile_bot(name) | safe }}
{% endblock %}
{% block bot %}
    Bot loading...
    <noscript>
        This bot requires JavaScript.  See <a href="https://www.enable-javascript.com/" target="_blank">here</a> for instructions to enable it.
    </noscript>
{% endblock %}
{% block foot %}
    <script type="text/javascript">
        launch_bot("bot");
    </script>
{% endblock %}
