{% extends "base.html" %}
{% block bot %}
    <div>
        <p>
            {{motd}}
        </p>
    </div>
    {% if bots|length > 0 %}
        <div>
            <p>
                The following bots are available:
            </p>
        </div>
        {% for bot in bots %}
            <div class="human">
                <p>
                    <a href="/bot/{{bot|replace(" ", "%20")}}">{{bot}}</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
            <div>
                <p>
                    Sadly, no bots are currently available.
                </p>
            </div>
    {% endif %}
{% endblock %}